body{
    font-family: sans-serif;
    background-image: url("https://wallpapersmug.com/download/750x1334/ee041b/computer-screen-code-program.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
}
header{
    background-color: #363636ee;
    box-sizing: border-box;
    padding: 3px;
    height: 35px;
}


.header_content{
    display: flex;
    justify-content: space-around;
}

.footer_text_1{
    font-size:  18px;
    color: #fefeff88;
}
.footer_text_2{
    font-size: 18px;
    color: #fefeff88;
}
footer{
    margin-top: auto;
    background-color: #211a1a;
}



.img_logo{
    margin-top: -2px;
    width: 35px;
}
.text_logo{
    color: #c8ccf8;
    font-size: 13px;
    position: relative;
    top: -1px;
}
.menu{
    color: #9eb6ff;
    margin: 8px;
}
.menu:hover{
    color: #f1ffb5;
}
.menu_nav{
    list-style: none;
    display: block;
    box-sizing: border-box;
    margin-left: -500%;
    margin-top: -15px;
}


.li_nav{
    margin-top: 15px;
    width: 155px;
}

.code_content{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
}

.texto_code{
    margin-left: -50%;
}
.li_nav a{
    color: #e7e4ff;
    font-size: 15px;
}
.li_nav a:hover{
    color: #f1ffb3;
}

.mover{
    margin-top: -20px;
    background-color: #363636ee;
    margin-left:-45px;
    font-size: 15px;
    transition-duration: .5s;
}
.mover .li_nav{
    text-align: center;
    width: 100%;
}
.mover_content{
    margin-top: 118px;
}

h2{
    font-size: 20px;
}

@media(min-width: 820px){
    body{
        background-image: url("https://fondosmil.com/fondo/52521.jpg");
    }
    .menu{
        margin-left: -50000%;
    }
    header{
        height: 60px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .img_logo{
        margin-top: 1px;
        width: 60px;
    }
    .text_logo{
        font-size: 20px;
    }
    .menu_nav{
        margin-top: 1px;
        display: flex;
        margin-left: 50px;
        font-size: 25px;
    }
    .menu_nav a{
        color: #fefeff88;
    }
    .li_nav a{
        font-size: 25px;
        color: #e7e4ff;
    }
    h2{
        font-size: 32px;
    }
}



h1{
    text-align: center;
    font-size: 25px;
}
.teoria{
    margin: auto;
    margin-top: 15px;
    width: 80%;
    max-width: 1200px;
    font-size: 15px;
    padding: 10px;
    color: #f1ffb5;
    background-color: #00000066;
    margin-bottom: 10px;
}

code{
    font-size: 12px;
}
.code_content b {
    margin-left: 12px;
}
@media(min-width:820px){
    h1{
        font-size: 41px;
    }
    .teoria{
        font-size: 25px;
    }
    code{
        font-size: 25px;
    }
    .code_content b {
        margin-left: 25px;
    }
}

.codificacion{
    margin: auto;
    max-width: 100%;
    max-height: 85px;
    width: 100%;
    height: 85px;
    color: #f1ffb3;
    display: flex;
    justify-content: start;
    outline: none;
    background-color: transparent;
    border: 1.5px solid transparent;
}
.cood{
    border-image: linear-gradient(to bottom, #ffc014, #2c2000) 1;
}
body::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}
body textarea::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}
@media(min-width:820px){
    .codificacion{
        width: 120%;
        height: 200px;
        max-width: 100%;
        max-height: 200px;
        background-color: transparent;
        border: 4px solid transparent;
    }
    .cood{
        border-image: linear-gradient(to bottom, #ffc014, #2c2000) 1;
    }
}

.teoria a{
    color: #9eb6ff;
}
.teoria a:hover{
    color: #2f87a1;
}
.content_copy{
    display: flex;
    justify-content: end;
}
.fa-copy{
    font-size: 1.3em;
}
.fa-copy:hover{
    cursor: pointer;
}
.texto_copiado{
    margin-right: 30px;
    font-size: 1.2em;
    transition-duration: 0.5s;
    opacity: 0;
    margin-top: 0.3px;
    user-select: none;
}
.mostrar_texto_copiado{
    opacity: 1;
}
.codificacion::selection{
    background-color: #32a8a8;
}
.selector_transparente::selection{
    background-color: transparent;
}




.webside{
    display: block;
    margin: auto;
    background-color: #fff;
    width: 55%;
    color: #000;
    height: 150px;
}


.webside .caja_bloque{
    width: 100%;
    border: 2px solid #000;
}

.webside .padre{
    width: 80%;
    height: 80%;
    border: 2px solid #000;
}
.webside .hijo{
    width: 100%;
    border: 2px solid #000;
}
.webside .bloque{
    width: 100%;
    border: 2px solid #000;
}
.webside .linea{
    width: 10%;
    border: 2px solid #000;
}
.webside .ejemplo__{
    display: inline;
}
.webside .ejemplo__i{
    display: block;
}

.comprobar_elementos{
    width: 85%;
    font-size: 12px;
}
.comprobar_elementos b{
    background-color: red;
    color: white;
    width: 150px;
    height: 150px;
}
.comprobar_elementos p{
    background-color: blue;
    color: white;
    width: 150px;
    height: 110px;
}
.webside .noRecibe{
    background-color: red;
    color: white;
    width: 155px;
    height: 110px;
    font-size: 12px;
}
.webside .recibe{
    display: inline-block;
    background-color: green;
    color: wheat;
    width: 125px;
    height: 110px;
    font-size: 12px;
}