body{
    font-family: sans-serif;
    background-image: url("https://i.pinimg.com/originals/bd/85/b3/bd85b31a856bba1e1db5bcfefe71d554.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
}
header{
    background-color: #0027ec77;
    box-sizing: border-box;
    padding: 3px;
    height: 35px;
}


.header_content{
    display: flex;
    justify-content: space-around;
}

.footer_text_1{
    font-size:  18px;
    color: #fefeff88;
}
.footer_text_2{
    font-size: 18px;
    color: #fefeff88;
}
footer{
    margin-top: auto;
    background-color: #363636;
}


.img_logo{
    margin-top: 2px;
    width: 25px;
    height: 25px;
    opacity: 70%;
}
.text_logo{
    color: #c8ccf8;
    font-size: 13px;
    position: relative;
    top: -1px;
}
.menu{
    color: #9eb6ff;
    margin: 8px;
}
.menu:hover{
    color: #f1ffb5;
}
.menu_nav{
    list-style: none;
    display: block;
    box-sizing: border-box;
    margin-left: -500%;
    margin-top: -15px;
}


.li_nav{
    margin-top: 15px;
    width: 155px;
}

.code_content{
    background-color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px;
}

.li_nav a{
    color: #e7e4ff;
    font-size: 15px;
}
.li_nav a:hover{
    color: #f1ffb3;
}

.mover{
    background-color: #0027ec77;
    margin-left:-45px;
    font-size: 15px;
    transition-duration: .5s;
}
.mover .li_nav{
    text-align: center;
    width: 100%;
}
.mover_content{
    margin-top: 118px;
}
code{
    font-size: 15px;
}

p{
    font-size: 16px;
}

@media(min-width: 820px){
    .menu{
        margin-left: -5000%;
    }
    header{
        height: 60px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .img_logo{
        margin-top: 6px;
        width: 40px;
        height: 40px;
    }
    .text_logo{
        font-size: 20px;
    }
    .menu_nav{
        margin-top: 1px;
        display: flex;
        margin-left: 50px;
        font-size: 25px;
    }
    .menu_nav a{
        color: #fefeff88;
    }
    .li_nav a{
        font-size: 25px;
        color: #e7e4ff;
    }
}

.capitulo_1 {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #00000088;
    padding: 10px;
    width: 90%;
}
a{
    margin-top: 10px;
    font-size: 20px;
}
.capitulo_1 a{
    display: flex;
    color: #f1ffb3;
}



@media(min-width:820px){
    .capitulo_1{
        padding: 20px;
    }
    .capitulo_1 a{
        font-size: 35px;
    }
}